.navbar {
    background: transparent;
}
.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.mainHeader {
    font-family: 'Satisfy', cursive;
    text-align: center;
}

.mainP {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Satisfy', cursive; */
    text-align: center;
}

.nav-item:hover {
    color: orange;
    background-color: #ffcf88;
}

a:active {
    color: red;
}

.card {
    box-shadow: -5px 5px 17px 9px rgba(97,92,92,0.62);
-webkit-box-shadow: -5px 5px 17px 9px rgba(97,92,92,0.62);
-moz-box-shadow: -5px 5px 17px 9px rgba(97,92,92,0.62);
}

.card:hover {
    background-color: #ffc107;
}


.card-title {
    color: #ffcf88;
    font-size: 20px;
    
}

.card-subtitle {
    font-family: 'Satisfy', cursive;
}

/* .card-text  { */
    /* font-family: 'Poppins', sans-serif;} */

h4 {
    color: #ff9b08;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}