.navbar {
    background-color: #493323;
}
.navbar-brand {
    font-family: 'Satisfy', cursive;
    color: white;
}


.mainHeader {
    font-family: 'Satisfy', cursive;
    text-align: center;
}

.active {
    /* font-style: italic; */
    color: #929487;
}

.mainP {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Satisfy', cursive; */
    text-align: center;
}

.nav-item:hover {
    background-color: #91684A;
}

.card {
    box-shadow: -5px 5px 17px 9px rgba(97,92,92,0.62);
-webkit-box-shadow: -5px 5px 17px 9px rgba(97,92,92,0.62);
-moz-box-shadow: -5px 5px 17px 9px rgba(97,92,92,0.62);
}

.card:hover {
    background-color: #91684A;
}
i {
    padding: none;
    border: none;
}
i:hover {
    background-color: #91684A;
    color: #91684A; 
    background-position: center;
    background-size: contain;
}

.card-title {
    /* color: #ffcf88; */
    font-size: 20px;
    
}

.card-subtitle {
    font-family: 'Satisfy', cursive;
}

/* .card-text  { */
    /* font-family: 'Poppins', sans-serif;} */

h4 {
    color: #ff9b08;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

/* .btn {
    background-color:rgba(251, 251, 251, 0.15);
    color:  rgba(251, 251, 251, 0.15);
} */

.btn:hover {
    background-color: #91684A;
}

/* .chef-btn {
    color: #493323; */
}


